{% extends './admin/layout_admin.html' %}

{% block title %} {{titulo}} {% endblock %}

{% block body %}

<div class="col"><h2>{{titulo}}</h2></div>

<form method="post" action="{{url_for('usuarios_crear')}}" enctype="multipart/form-data">
    <input type="hidden" name="csrf_token" value="{{csrf_token()}}">

    <div class="form-group mb-3">
      <label for="nombre">Nombre de usuario</label>
      <input type="text" class="form-control" id="nombre" placeholder="Nombre de usuario" name="username">
    </div>

    <div class="form-group mb-3">
      <label for="nombre">Contraseña</label>
      <input type="password" class="form-control" id="nombre" placeholder="Contraseña" name="password">
    </div>

    <div class="form-group mb-3">
      <label for="materno">Tipo de usuario</label>
      <select class="form-select" aria-label="Default select example" name="tipo_usuario">
        <option value="False" selected>Usuario</option>
        <option value="True">Administrador</option>
      </select>
    </div>

  <div class="row mb-3">
    <div class="col">
      <button class="btn btn-primary float-end" type="submit">
        Guardar
      </button>
    </div>
    <div class="col">
      <a class="btn btn-danger float-start" href="{{url_for('usuarios_dashboard')}}">Cancelar</a>
    </div>
  </div>

</form>


{% endblock %}