{% extends './admin/layout_admin.html' %}

{% block title %} {{titulo}} {% endblock %}

{% block body %}

{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
    <div class="alert alert-{% if "Error" in message %}danger {% elif "Advertencia" in message %}warning {% else %}success {% endif %} alert-dismissible fade show" role="alert">
        <strong>{{message}}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}

  <form method="post" action="{{url_for('usuarios_actualizar', id=usuario.id_usuario)}}">
  <input type="hidden" name="csrf_token" value="{{csrf_token()}}">

  <div class="form-group mb-3">
    <label  for="nombre">Nombre de usuario</label>
    <input type="text" class="form-control" id="nombre" placeholder="Nombre" name="username" value="{{usuario.username}}" pattern="[A-Za-z0-9]+" title="Solo se permiten letras y números, sin espacios ni caracteres especiales" required>
  </div>

  <div class="form-group mb-3">
    <label for="materno">Tipo de usuario</label>
    <select class="form-select" aria-label="Default select example" name="tipo_usuario">
      <option value="{{usuario.id_tipo}}" selected>{{usuario.nombre}}</option>
      {% set tipos = listar_tipos() %}
      {% if tipos %}
      {% for tipo in tipos %}
      {% if tipo[0] != usuario.id_tipo %}
      <option value="{{tipo[0]}}">{{tipo[1]}}</option>
      {% endif %}  
      {% endfor %}
      {% endif %}  
    </select>
  </div>

  <div class="row mt-3 mb-3">
    <div class="col">
      <button class="btn btn-primary float-end" type="submit">
        Guardar
    </button>
    </div>
    <div class="col">
      <a class="btn btn-danger float-start" href="{{url_for('usuarios_dashboard')}}">Atras</a>
    </div>
  </div>
        
</form>
{% endblock %}