{% extends './admin/layout_admin.html' %}

{% block title %} {{titulo}} {% endblock %}

{% block body %}
{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
    <div class="alert alert-{% if "Error" in message %}danger {% elif "Advertencia" in message %}warning {% else %}success {% endif %} alert-dismissible fade show" role="alert">
        <strong>{{message}}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}

    <div class="row mb-2">
        <div class="col"><h2>{{titulo}}</h2></div>
        <div class="col text-end"><a href="{{url_for('usuarios_nuevo')}}" class="btn btn-sm btn-primary"><i class="fas fa-plus-circle"></i> Nuevo</a></div>
    </div>
    <div class="table-responsive">
        <table class="table table-striped table-sm table-hover">
          <thead>
            <tr>
              <th class="text-center">Editar</th>
              <th>Nombre de usuario</th>
              <th class="text-center">Tipo de Usuario</th>
              <th class="text-center">Eliminar</th>
            </tr>
          </thead>
          <tbody>
            {% if usuarios %}
            {% for usuario in usuarios %}
                <tr>
                    <td class="text-center"><a class="btn btn-sm btn-primary" href="{{url_for('usuarios_editar', id=usuario[0])}}"><i class="fas fa-edit"></i></a></td>
                    <td><a href="{{url_for('usuarios_detalles', id=usuario[0])}}">{{ usuario[1] }}</a></td>
                    <td class="text-center">{% if usuario.3==true %}Administrador{% else %}Usuario{% endif %}</td>
                    <td class="text-center">
                        <button type="button" class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#staticBackdrop-{{usuario.0}}">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                    </td>
                </tr>
            {% endfor %}
            {% else %}
                <tr>
                    <td align="center" colspan="8">No existen {{titulo}}</td>
                </tr>
            {% endif %}
          </tbody>

        </table>
    </div>

    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
    
    {% if usuarios %}
        {% for usuario in usuarios %}
        <div class="modal fade" id="staticBackdrop-{{usuario.0}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Confirmar acción</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                ¿Deseas eliminar <strong>{{ usuario[1] }}</strong>?
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <a class="btn btn-danger" href="{{url_for('usuarios_eliminar', id=usuario[0])}}" class="btn-delete"><i class="fas fa-trash-alt"></i> Eliminar</a>
                </div>
            </div>
            </div>
        </div>
        {% endfor %}
    {% else %}
    {% endif %}


{% endblock %}