{% extends './admin/layout_admin.html' %}

{% block title %} {{titulo}} {% endblock %}

{% block body %}

<div class="col"><h2>{{titulo}}</h2></div>

<form method="post" action="{{url_for('materias_crear')}}" enctype="multipart/form-data">
    <input type="hidden" name="csrf_token" value="{{csrf_token()}}">

    <div class="form-group mb-3">
      <label for="nombre">Nombre de la materia</label>
      <input type="text" class="form-control" id="nombre" placeholder="Nombre" name="nombre">
    </div>

    <div class="form-group mb-3">
      <label for="profesor">Profesor</label>
      <select class="form-select" aria-label="Default select example" name="id_profesor">
        <option selected>-- Selecciona un profesor --</option>
        {% set profesores = listar_profesores() %}
        {% if profesores %}
          {% for profesor in profesores %}
          <option value="{{profesor.0}}">{{profesor.1}} {{profesor.2}} {{profesor.3}}</option>
          {%endfor%}
        {% else %}
          <option>No hay registros. Crea un registro antes para continuar.</a></option>
        {% endif %}
      </select>
    </div>


  <div class="row mb-3">
    <div class="col">
      <button class="btn btn-primary float-end" type="submit">
        Guardar
      </button>
    </div>
    <div class="col">
      <a class="btn btn-danger float-start" href="{{url_for('materias_dashboard')}}">Cancelar</a>
    </div>
  </div>

</form>


{% endblock %}