a {
  text-decoration: none !important;
}

a.layout_admin{
  color: lightskyblue;
}

a.layout_admin:hover{
  color: #17a5de;
}
a.layout_admin:focus{
  color: #17a5de;
}

a.ver_detalles{
  color: black;
}
a.ver_detalles:hover{
  color: blue;
  font-weight: bold;
}
