<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/docs.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    <div class="container-fluid">
        <div class="row flex-nowrap">
            <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
                <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                    <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                        <span class="fs-5 d-none d-sm-inline">Logo</span>
                    </a>
                    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                        <li class="nav-item">
                            <a href="{{url_for('index')}}" class="nav-link px-0 align-middle layout_admin">
                                <i class="fas fa-home"></i></i> <span class="ms-1 d-none d-sm-inline">Home</span>
                            </a>
                        </li>
                        <li>
                            <a href="{{ url_for('alumnos_dashboard') }}" class="nav-link px-0 align-middle layout_admin">
                                <i class="fas fa-book-reader"></i> <span class="ms-1 d-none d-sm-inline">Alumnos</span></a>
                        </li>
                        <li>
                            <a href="{{ url_for('dashboard') }}" class="nav-link px-0 align-middle layout_admin">
                                <i class="fas fa-layer-group"></i></i> <span class="ms-1 d-none d-sm-inline">Grupos</span></a>
                        </li>
                        <li>
                            <a href="{{ url_for('profesores_dashboard') }}" class="nav-link px-0 align-middle layout_admin">
                                <i class="fas fa-chalkboard-teacher"></i> <span class="ms-1 d-none d-sm-inline">Profesores</span></a>
                        </li>
                        <li>
                            <a href="{{ url_for('dashboard') }}" class="nav-link px-0 align-middle layout_admin">
                                <i class="fas fa-book"></i></i> <span class="ms-1 d-none d-sm-inline">Materias</span></a>
                        </li>
                        <li>
                            <a href="{{ url_for('dashboard') }}" class="nav-link px-0 align-middle layout_admin">
                                <i class="fas fa-user-friends"></i></i> <span class="ms-1 d-none d-sm-inline">Usuarios</span></a>
                        </li>
                        <!--<li>
                            <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                                <i class="fs-4 bi-speedometer2"></i> <span class="ms-1 d-none d-sm-inline">Dashboard</span> </a>
                            <ul class="collapse show nav flex-column ms-1" id="submenu1" data-bs-parent="#menu">
                                <li class="w-100">
                                    <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Item</span> 1 </a>
                                </li>
                                <li>
                                    <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Item</span> 2 </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle ">
                                <i class="fas fa-user-graduate"></i> <span class="ms-1 d-none d-sm-inline">Alumnos</span></a>
                            <ul class="collapse nav flex-column ms-1" id="submenu1" data-bs-parent="#menu">
                                <li class="w-100">
                                    <a href="{{ url_for('alumnos_dashboard') }}" class="nav-link px-0"> <span class="d-none d-sm-inline">Ver </span><i class="fas fa-list-ul"></i></a>
                                </li>
                                <li>
                                    <a href="{{ url_for('alumnos_nuevo') }}" class="nav-link px-0"> <span class="d-none d-sm-inline"></i>Crear </span><i class="fas fa-plus"></i></a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#submenu2" data-bs-toggle="collapse" class="nav-link px-0 align-middle ">
                                <i class="fas fa-university"></i></i> <span class="ms-1 d-none d-sm-inline">Profesores</span></a>
                            <ul class="collapse nav flex-column ms-1" id="submenu2" data-bs-parent="#menu">
                                <li class="w-100">
                                    <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline"><i class="fas fa-list-ul"></i> Ver</span></a>
                                </li>
                                <li>
                                    <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline"><i class="fas fa-plus"></i> Crear</span></a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#submenu3" data-bs-toggle="collapse" class="nav-link px-0 align-middle ">
                                <i class="fas fa-book-open"></i></i> <span class="ms-1 d-none d-sm-inline">Materias</span></a>
                            <ul class="collapse nav flex-column ms-1" id="submenu3" data-bs-parent="#menu">
                                <li class="w-100">
                                    <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline"><i class="fas fa-list-ul"></i> Ver</span></a>
                                </li>
                                <li>
                                    <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline"><i class="fas fa-plus"></i> Crear</span></a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#submenu4" data-bs-toggle="collapse" class="nav-link px-0 align-middle ">
                                <i class="fas fa-users"></i></i> <span class="ms-1 d-none d-sm-inline">Usuarios</span></a>
                            <ul class="collapse nav flex-column ms-1" id="submenu4" data-bs-parent="#menu">
                                <li class="w-100">
                                    <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline"><i class="fas fa-list-ul"></i> Ver</span></a>
                                </li>
                                <li>
                                    <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline"><i class="fas fa-plus"></i> Crear</span></a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" class="nav-link px-0 align-middle">
                                <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline">Customers</span> </a>
                        </li>-->
                    </ul>
                    <hr>
                    <div class="dropdown pb-4">
                        <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                            <!--<img src="https://github.com/mdo.png" alt="hugenerd" width="30" height="30" class="rounded-circle">-->
                            <i class="far fa-user"></i>
                            <span class="d-none d-sm-inline mx-1"> Aldo Luría</span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                            <li><a class="dropdown-item" href="#">Papelera</a></li>
                            <li><a class="dropdown-item" href="#">Configuración</a></li>
                            <li><a class="dropdown-item" href="#">Perfil</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Sign out</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col py-3">
                {% block body %}
                {% endblock %}
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.slim.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>

  </body>
</html>


