{% extends './admin/layout_admin.html' %}

{% block title %} {{titulo}} {% endblock %}

{% block body %}

  <div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{{ url_for('static', filename='img/uploads/alumnos/') + alumno.7 }}" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h4 class="card-title">{{alumno.1}} {{alumno.2}} {{alumno.3}}</h4>
          <strong>Situación: </strong>
            {% if alumno.8==true %}
            <p style="color: green;">Regular</p>
            {% else %}
            <p style="color: red;">Baja</p>
            {% endif %}
          <p class="card-text"><small class="text-muted">Última edición: {{alumno.6}}</small></p>
          <p class="card-text"><small class="text-muted">Fecha de creación: {{alumno.5}}</small></p>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col">
      <a href="{{url_for('alumnos_editar', id=alumno[0])}}" class="btn btn-primary float-end">Editar</a>
    </div>
    <div class="col">
      <a href="{{ url_for('alumnos_dashboard') }}" class="btn btn-danger float-start">Atras</a>
    </div>
  </div>



{% endblock %}