{% extends './layout_admin.html' %}

{% block title %} {{titulo}} {% endblock %}

{% block body %}

<div class="col"><h2>{{titulo}}</h2></div>

<form method="post" action="{{url_for('alumnos_crear')}}" enctype="multipart/form-data">
    <input type="hidden" name="csrf_token" value="{{csrf_token()}}">

    <div class="form-group mb-3">
      <label for="formFile" class="form-label">Foto de perfil</label>
      <input class="form-control" type="file" id="formFile" name="Foto" required accept="image/png, .jpeg, .jpg">
    </div>
    <div class="form-group mb-3">
      <label for="nombre">Nombre(s)</label>
      <input type="text" class="form-control" id="nombre" placeholder="Nombre(s)" name="nombre">
    </div>

    <div class="row">
      <div class="col-md-6 col-xs-12 mb-3">
        <div class="form-group mb-2">
          <label for="paterno">Apellido Paterno</label>
          <input type="text" class="form-control" id="paterno" placeholder="Apellido Paterno" name="paterno">
        </div>
      </div>

      <div class="col-md-6 col-xs-12 mb-3">
        <div class="form-group mb-3">
          <label for="materno">Apellido Materno</label>
          <input type="text" class="form-control" id="materno" placeholder="Apellido Materno" name="materno">
        </div>
      </div>
    </div>

  <div class="row mb-3">
    <div class="col">
      <button class="btn btn-primary float-end" type="submit">
        Guardar
      </button>
    </div>
    <div class="col">
      <a class="btn btn-danger float-start" href="{{url_for('alumnos_dashboard')}}">Cancelar</a>
    </div>
  </div>

</form>


{% endblock %}